/* Flex */

.flex_content {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

#flex_second_line {
    padding-top: 20px;
}

.flex_content_item:first-child {
    flex-basis: 120px;
}

.flex_content_item:nth-child(2) {
    flex-basis: 208px;
}

/* Content */

#content {
    width: 100%;
    background-color: white;
}

.logo {
    display: block;
    margin: 0px;
    padding: 0px;
}

#contact_name {
    color: #2A3134;
    text-decoration: none;
    font-family: verdana, serif;
    font-size: 1.375rem;
    font-weight: normal;
    font-size-adjust: none;
    line-height: 130%;
    margin-top: 0px;
    margin-bottom: 0px;
}

#contact_position {
    color: #A9B2BB;
    text-decoration: none;
    font-family: verdana, serif;
    font-size: 0.875rem;
    line-height: 130%;
    padding-top: 2px;
    margin-top: 0px;
    margin-bottom: 0px;
}

#button_phone {
    padding-top: 6px;
    padding-left: 0px;
}

/* Links */

#contact_email_link {
    padding-left: 0px;
    margin-left: 0px;
}

#contact_phone_link {
    padding-top: 6px;
    padding-left: 0px;
    margin-left: 0px;
}

#link_website {
    color: #A9B2BB;
    text-decoration: none;
    font-family: verdana, serif;
    font-size: 0.85rem;
    font-weight: normal;
    line-height: 130%;
    display: block;
    margin-top: 0px;
}

/* Button socials */

#button_social_group {
    padding-top: 5px;
}

.button_social {
    padding-left: 12px;
    text-decoration: none;
}

.button_social:first-child {
    padding-left: 0px;
}

.button_social_text {
    color: #2A3134;
    text-decoration: none;
    font-family: verdana, serif;
    font-size: 0.85rem;
    font-weight: normal;
    padding-left: 6px;
    vertical-align: top;
    line-height: 130%;
}

/* Address */

#address_title {
    color: #A9B2BB;
    text-decoration: none;
    font-family: verdana, serif;
    font-size: 0.85rem;
    font-weight: normal;
    line-height: 130%;
    margin-top: 0px;
    margin-bottom: 0px;
}

#address_value {
    color: #2A3134;
    text-decoration: none;
    font-family: verdana, serif;
    font-size: 0.85rem;
    font-weight: normal;
    line-height: 130%;
    margin-top: 0px;
    margin-bottom: 0px;
}

#address_country {
    color: #A9B2BB;
    text-decoration: none;
    font-family: verdana, serif;
    font-size: 0.85rem;
    font-weight: normal;
    line-height: 130%;
    margin-top: 0px;
    margin-bottom: 0px;
}

/* Bottom descriptions */

#short_description {
    color: #2A3134;
    text-decoration: none;
    font-family: verdana, serif;
    font-size: 0.7rem;
    font-weight: bold;
    line-height: 130%;
    padding-top: 18px;
    margin-top: 0px;
    margin-bottom: 0px;
    clear: left;
}

#full_description {
    color: #A9B2BB;
    text-decoration: none;
    font-family: verdana, serif;
    font-size: 0.7rem;
    font-weight: normal;
    line-height: 130%;
    padding-top: 4px;
    margin-top: 0px;
    margin-bottom: 0px;
}